# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env*

# Python virtual environment
venv/
.venv/
env/
.env_backup/

# Python bytecode cache
**/__pycache__/

# Other important ignores (add as needed)
node_modules/
package-lock.json
yarn.lock
build/
dist/
*.log
*.sqlite
*.db